.Header {
    background-color: dodgerblue;
    width: 100%;
    height: 80px;
}

.Header_logo {
    width: 100%;
    height: 100%;
}
.Header_logo > h1 {
	margin : 0;
	padding : 1.2rem;
	color : white;
	text-align : center;
}
