.code_blank {
	background-color : #CEE3F6;
	width : 70%;
	height : 820px;
	display : inline-block;
}

.code_block {
	width: 100%;
	height: 400px;
}

.code_generation {
	width: 100%;
	height: 420px;
}
.code_generation > h2 {
	margin: 0%;
	padding-top: 20px;
	width: 100%;
	height: 60px;
	background-color: deepskyblue;
	color: white;
	text-align: center;
	display: block;
}

.code_coded {
	widows: 100%;
	height: 360px;
	background-color: azure;
	display: block;
}